*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_ba1{
    filter: brightness(.4);

}

.contenido_gral {
    position: relative;
    
}

.contenedor {
    width: 37%;
    position: absolute;
    bottom: 25%;
    right: 7%;
    color: #fff;
}

.color_boton_enviarForm {
    background: rgb(150, 201, 62);
    border: rgb(150, 201, 62);
}

/* FOOTER */




.color_nav {
    background: linear-gradient(to right, rgb(28,54,67), rgb(30,83,114));
}

/*===================MEIDAS QUERY====================*/

@media screen and (max-width: 800px) {
    .contenedor {
    width: auto;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
 
    }

  @media screen and (max-width: 450px) {
    .contenedor h1, .contenedor p{
        font-size: 70%
    }
    
  }

  